<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    
</head>
<body>

    <div class="container-fluid my-5">
        <div class="row">
            <!-- main header left -->
            <div class="col-8 col-md-4 mx-auto">
                <img src="images/404.jpg" alt="" class="img-fluid rounded shadow">
            </div>
        </div>
    </div>

</body>
</html>