<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row align-items-center">

            <!-- main header left -->
            <div class="col-md-4 col-10 main_header_right m-auto">
                <figure>
                    <img src="images/mushahid.jpg" alt="" class="img-fluid rounded shadow">
                </figure>
            </div>
            <!-- main header right -->
            <div class="col-md-6 col-12 mx-auto main_header_left">
                <div class="row">
                    <p>Hello!</p>
                    <h1>I am a <span class="text-clr">MERN Stack Developer</span></h1>
                    <a href="#">
                        <button>About me</button>
                    </a>
                </div>
            </div>

        </div>
    </div>

    {{>footer}}
</body>
</html>